/* styles.css */
body {
  font-family: 'Arial, sans-serif';
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}


h1 {
  text-align: center;
  color: #333;
}

.course {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.course select {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.course input {
  width: 80px;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.course button {
  background: #ff4d4f;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.course button:hover {
  background: #ff7875;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  background: #1890ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  background: #40a9ff;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}
